/* Styles site-wide ---------------------------------------------------- */

@import url(https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap);

h1, h2, h3, h4 {
    font-family: 'Lexend', Arial, sans-serif;
}

p, a, table, ul {
    font-family: 'Jaldi', Arial, sans-serif;
    font-size: 20px;
}

p {
    padding: 0;
}

a {
    color: #71B48D;
    text-decoration: none;
}

a:hover {
    color: #424242;
}

.linkSelected {
    font-weight: bold;
    pointer-events: none;
}

/* Buttons ------------------------------------------------------------- */

.overlayButton {
    color: white;
    text-decoration: none;
    background-color: #71B48D;
    padding: 5px 20px;
    margin: 5px 5px;
    border-radius: 25px;
    display: inline-block;
}

.overlayButton:hover {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}

.lightButton {
    display: inline-block;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    border-radius: 25px;
    padding: 5px 40px;
}

.lightButton:hover {
    color: black;
    background-color: white;
}

.editButton {
    color: white;
    font-size: medium;
    text-decoration: none;
    background-color: #71B48D;
    padding: 5px 20px;
    margin: 5px 0px;
    border-radius: 25px;
    display: inline-block;
}

.editButton:hover {
    color: white;
    background-color: #345140;
}

/*  Breadcrumb ------------------------------- */

#breadcrumb {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Lexend', Arial, sans-serif;
    text-transform: uppercase;
}

#breadcrumb a {
    color: black;
    text-decoration: none;
}

#breadcrumb span {
    padding: 5px;
}

/*  Recommended products --------------------------------- */

.recommendedItem {
    padding: 20px;
}

.productContainer {
    border-radius: 15px;
    height: 300px;
    width: auto;
    position: relative;
}

.productImage {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.recommendedOverlay {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}

.recommendedOverlay:hover {
    opacity: 1;
}

.productCat {
    color: white;
    background-color: #71B48D;
    border-radius: 5px;
    padding: 1% 3%;
    position: absolute;
    top: 5%;
    left: 5%;
    opacity: 90%;
}

.productPrice {
    Color: white;
    background-color: #424242;
    border-radius: 5px;
    padding: 1% 3%;
    position: absolute;
    bottom: 5%;
    right: 5%;
    opacity: 90%;
}