/* Product image -------------------------------------------------- */

#productImageContainer {
    padding-bottom: 2%;
}

.productPageImage {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

/* Product description --------------------------------------------- */

.productLabel {
    font-size: smaller;
    display: inline;
    border: 1px solid #71B48D;
    border-radius: 5px;
    padding:0.5% 2%;
}

.productDescriptionText {
    border-bottom: 2px solid #D9D9D9;
    padding: 5% 0%;
    margin-bottom: 3%;
}

.addToCartButton {
    color: white;
    background-color: #71B48D;
    min-width: 250px;
    text-decoration: none;
    font-size: large;
    text-transform: uppercase;
    font-family: 'Lexend', Arial, sans-serif;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    margin-right: auto;
}

.addToCartButton:hover {
    color: white;
    background-color: #345140;
}

.addToCartContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.addToCartPrice {
    font-size: x-large;
    font-weight: bold;
    text-align: right;
}

/* More info ------------------------------------------------------------- */

.moreInfoContainer {
    margin: 25px 0;
    background-color: #D9D9D9;
}

.moreInfoSubContainer {
    padding: 2% 0%;
}

.moreInfoContainer h2 {
    text-align: center;
}

.moreInfoIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.moreInfoSoloIcon {
    max-height: 100px;
    width: auto;
}