@font-face {
    font-family: Jaldi;
    src: url(./police/Jaldi/Jaldi-Regular.ttf);
}




img {

    height: 300px;
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0;
    padding-right: 0;
}




#container {
border: none;
display: flex;
flex-direction: row;
justify-content: space-between;
}



.fakeimg {
    height: 200px;
    background: #aaa;
}