body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}

/* Main header ----------------------------------------------------------------------- */

#mainHeader {
    background-color: #0E0E0E;
    padding: 5px 0;
}

#mainHeader .bloc {
    margin: 5px 0;
}

#mainHeader nav {
    margin: 0 10%;
}

#dinomania {
    height: 100%;
    width: 250px;
}

#mainHeader input {
    padding-left: 10px;
    font-size: large;
}

#mainHeader input::placeholder {
    padding-left: 10px;
}

#mainHeader .logo {
    margin: 0;
}

.logo img {
    max-width: 250px;
}

#mainHeader input {
    border-radius: 25px;
    border: none;
    margin-top: px;
}

#mainHeaderIcons {
    padding-bottom: 5px;
}

#mainHeaderIcons img {
    height: 30px;
}

@media screen and (max-width: 800px) {
    nav {
        flex-wrap: wrap;
    }

    #mainHeader .bloc:nth-child(1) {
        order: 1;
    }

    #mainHeader .bloc:nth-child(2) {
        order: 3;
    }

    #mainHeader .bloc:nth-child(3) {
        order: 2;
    }

    #mainHeader form {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 10px;
    }

    /* #icon {
        display: flex;
        justify-content: center;
        align-items: center;
    } */

    #icon img {
        width: 100%;
    }
    #dinomania{
        width: 100% !important;
    }
   .logo{
    width: 70%;
   }
}


/* Main navigation ----------------------------------------------------------------------------- */

#mainNav {
    width: 100%;
    background-color: #345140;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px
}

#mainNav ul {
    width: 100%;
    text-align: center;
    margin: 1%;
    padding: 0;
}

#mainNav li {
    display: inline-block;
    list-style: none;
    padding: 0 2%;
    margin: 0;
}

#mainNav a {
    color: white;
    font-family: 'Lexend', Arial, sans-serif;
    font-size: smaller;
}

#mainNav li:hover {
    border: none;
    border-radius: 20px;
    background-color: hsla(0, 0%, 85%, 0.2);
    transition: 0, 4ms;
}

@media screen and (max-width: 800px) {
    #mainNav a {
        font-size: small;
    }
}

/* Footer boostrap ---------------------------------------------------------- */

.footerBoostrap {
    background-color: #0E0E0E;
    color: white;
    padding: 25px 0;
}

.footerBoostrap h3 {
    font-size: x-large;
}

.colFooter {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

}

.footerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerLogo img {
    width: 100%;
    max-width: 250px;
    padding-bottom: 20px;
}

.footerBoostrap ul {
    list-style: none;
    padding-left: 0;
}

#social figure {
    display: inline;
    margin-right: 10px;
}

#social img {
    height: 25px;
}

/* Footer flexbox ------------------------------------------------------------------ */
